


.container{
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(245, 245, 245);

}
.header{
  float: right;
  padding-right: 50px;
  
}
.header nav ul li{
  display: inline-block;
  padding: 15px;
}
.header nav ul li a{
  text-decoration: none;
  color: black;
  transition: transform .2s;
}
.header nav ul li a:hover{
  color: grey;
}
.name{
  padding-top: 190px;
  font-size: 27px;
  text-align: center;
}
.about-me{
  padding-top: 30px;
  max-width: 400px;
  padding-left: 140px;
}
.column {
  float: left;
  width: 50%;
}
.skills{
  padding-top: 30px;
  max-width: 400px;
  padding-left: 160px;
}
.fa-brands{
  padding: 10px;
}
.column, .portfolio{
  width: 100%;
}
.portfolio h1{
  text-align: center;
  padding-top: 100px;

}
.portfolio-images{
  padding: 20px;
  padding-top: 100px;
  border-radius: 50px;
}
.images{
  display: flex;
  justify-content: center;
  opacity:1;
  
}
.images a:hover{
  cursor: pointer;
  opacity: 0.8;
}
.footer{
  background: black;
  justify-content: center;
  display: flex;
}
.fa-linkedin{
  color: white;
  transition: transform .2s;
}
.fa-linkedin:hover{
  transform: scale(1.5);
}


@media only screen and (min-width: 500px) and (max-width: 1000px){
  .images{
    display: block;
  }

  
}
@media only screen and (min-width: 200px) and (max-width: 499px){
 
  .images{
      justify-content: center;
      display: block;
  }
  *{
      background-color:rgb(245, 245, 245);
  }
  .skills{
      float: left;
  }
 
}








